body{
	font-family:Helvetica;
	font-weight: bold;
	text-align: center;
}

.tempo{
	text-align: center;
	font-family: Helvetica;
	font-style: italic;
}

select{
	background-color: white	;
	outline: 0;
}


.toggle{
display: inline-block;
font-size: small;
text-shadow: none;
height: 50px;
background-color: black;
color: white;
width:30px;
line-height: 50px;
padding-left: 5px;
padding-right: 5px;
text-align:center;
font-size:  x-large;
margin: 2px;
transition: 0.2s;
}

.drumfeel.selected{
	animation: select-button 10s backwards infinite;
}

@keyframes select-button {
    0%, 100%   {background-color: yellow;}
    25%  {background-color: green;}
    50%  {background-color: blue;}
}




#bpm{
	width:50px;
	font-style: italic;
	font-family: Helvetica;
	font-weight: bolder;
	font-size: small;
}

.output{
	font-style: italic;
	font-family: Helvetica;
	font-weight: bolder;
	font-size: small;
}

.drumfeel{
	background-color:grey;
	width:auto;
}

.nochord{
	color: black;
}

.current{
	transition: 0.2s;
	background-color:green;

}

.next{
	animation: select-button 1s infinite;
}

select option{
	font-style: italic;
	font-family: Helvetica;
	font-weight: bolder;
	font-size: small;
}

#chord{
	background-color: purple;
}

#lead{
	background-color: green;

}

#drum{
	background-color:red;
}

#bass{
		background-color: blue;
}

#startbutton{
	background-color:red;
}

.container{

}

.instrument{
	width:40%;
	height:250px;
	display:inline-table;
	font-size: -webkit-xxx-large;
	margin:5px;
	text-shadow: 1px 1px white;
	padding: 10px;
	border-radius: 3%;

}

.instrument:hover{
	text-shadow: 3px 3px white;
}

.slidecontainer{
	font-size: large;
	text-shadow: none;
	font-style: italic;
}

input{
	width: 90%;
}

.banner{
	text-align: center;
	width:100%;
	display:inline-block;
	height:auto;
	font-size: -webkit-xxx-large;
	margin:5px;
	text-shadow: 1px 1px yellow;
}
